@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light dark:bg-dark text-gray-900 dark:text-gray-100 antialiased transition-colors duration-300;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-dark-lighter;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-600 rounded-full hover:bg-gray-400 dark:hover:bg-gray-500;
}